<div class="floor_block new-room" id="J_newRoom" data-spm="newCity">
    <div class="head">
      <h1>
        <img src="//img.alicdn.com/tps/TB1GxHkKXXXXXc4XFXXXXXXXXXX-237-18.png" alt="">
      </h1>
    </div>
    <div class="content-box clearfix" id="J_cityHall">
      <%- app.control('newRoom/specialCat1') %>
      <%- app.control('newRoom/specialCat2') %>
      <%- app.control('newRoom/specialCat3') %>
      <%- app.control('newRoom/specialCat4') %>
      <%- app.control('newRoom/specialCat5') %>
    </div>
</div>
<script type="text/javascript">
(function (d) {
var t=d.createElement("script");t.type="text/javascript";t.async=true;t.id="tb-beacon-aplus";
t.setAttribute("exparams","category=&userid=&aplus");
t.src=("https:"==d.location.protocol?"https://s":"http://a")+".tbcdn.cn/s/aplus_v2.js";
d.getElementsByTagName("head")[0].appendChild(t);
})(document);
</script>

