<%- app.control('elements/aplus') %>

<%- app.control('elements/siteNav') %>
<%- app.control('elements/script') %>
<%- app.view('header') %>

<link rel="stylesheet" type="text/css" href="//g.alicdn.com/tb/china/2.1.0/p/new-index/index.css">
<script src="//g.alicdn.com/kissy/k/1.4.8/seed.js"></script>
<script src="//g.alicdn.com/kg/kmd-adapter/0.1.5/index.js"></script>

<%- app.view('banner') %>
<% for (var i = 0; i < 10; i++) { %>
<div class="wrap-main clearfix">
  <%- app.view('todayRecommend') %>
  <%- app.view('newRoom') %>
  <%- app.view('cats') %>
  <%- app.view('likeRecommend') %>
  <%- app.view('darenRecommend') %>
  <%- app.view('newBlock') %>
  <%- app.view('oldBlock') %>
  <%- app.view('city') %>
  <%- app.view('bottom') %>
</div>
<% } %>

<%- app.view('footer') %>

